.input-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  }

#realbox{
  border: 1px solid rgb(238, 238, 238);
  display: block;
  outline: none;
  padding-inline-end: 48px;
  width: 40%;
  z-index: 2;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 16px;
  height: 50px;
  opacity: 1;
  position: relative;
  transition: none;
  padding-inline-start: 52px;
}

.search-btn{
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  position: absolute;
  z-index: 9;
  left: 31%;
  color: #868686;
  padding-top: 6px;
}



.dl-loader{
  position: absolute !important;
    z-index: 9;
    right: 31%;
}
  
.loader {
  width : 24px;
  height: 24px;
  border: 2px dotted #ccc;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: rotation 2s linear infinite;
  
}

.loader:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px dotted #FF3D00;
  border-style: solid solid dotted;
  width:  12px;
  height:  12px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}


  /* keyFrames */ 
  
  @keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
  @keyframes rotationBack {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(-360deg) }
  }
  @keyframes rotationBreak {
    0% { transform: rotate(0) }
    25% { transform: rotate(90deg)}
    50% { transform: rotate(180deg) }
    75% { transform: rotate(270deg)}
    100% { transform: rotate(360deg) }
  }