.input-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  }

#realbox{
  border: 1px solid rgb(238, 238, 238);
  display: block;
  outline: none;
  padding-inline-end: 48px;
  width: 70%;
  z-index: 2;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 16px;
  height: 50px;
  opacity: 1;
  position: relative;
  transition: none;
  padding-inline-start: 52px;
}

.search-btn{
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  position: absolute;
  z-index: 9;
  left: 16%;
  color: #868686;
  padding-top: 6px;
}