
.titleAndAuthor .title {
    width: 10em; /* the element needs a fixed width (in px, em, %, etc) */
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}

.swiper-thumb {
    position: relative;
    width: auto;
    max-width: 1025px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
}

.swiper-wrapper {
    width: auto;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    grid-column-gap: 5px;
    column-gap: 5px;
    padding-left: 5px;
}

.swiper-wrapper.result {
    flex-wrap: wrap;
    row-gap: 5px;
}


.slide {
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
    position: relative;
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    cursor: pointer;
}

.swiper-wrapper.result .slide {
    width: 200px;
    height: 200px;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.image-wrapper .overlay{
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: rgba(43, 44, 54, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    opacity: 0;
    transition: all 0.2s linear;
}

.swiper-next-button,.swiper-prev-button {
    position: absolute;
    z-index: 99;
    outline: none;
    transition: all .2s linear;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ed1b28;
    cursor: pointer;
    color:#fff
}

.swiper-next-button {
    right: -15px;
    padding-top: 2px
}

.swiper-prev-button {
    left: -5px;
    padding-bottom: 2px

}

.swiper-prev-button em {
    transform: rotate(180deg);
}