
.titleAndAuthor .title {
    width: 7em; /* the element needs a fixed width (in px, em, %, etc) */
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
    padding: 0;
    margin: 0;
}

.titleAndAuthor .title a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.swiper-thumb {
    position: relative;
    width: auto;
    max-width: 1025px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
}

.swiper-wrapper {
    width: auto;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    grid-column-gap: 5px;
    column-gap: 5px;
    padding-left: 5px;
}

.swiper-wrapper.result {
    flex-wrap: wrap;
    row-gap: 5px;
}


.slide {
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    cursor: pointer;
    transition:all .5s ease-in-out;
}

.swiper-wrapper.result .slide {
    width: 200px;
    height: 200px;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.image-wrapper .overlay{
    position: absolute;
    left: 2px;
    background-color: rgba(0, 0, 0, 0.54);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    width: calc(100% - 14px);
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    animation: slideDown .2s linear;
    bottom: -30px;
    opacity: 0;
}

.image-wrapper:hover .overlay{
    animation: slideUp .2s linear;
    opacity: 1;
    bottom: 0;
}

.swiper-next-button,.swiper-prev-button {
    position: absolute;
    z-index: 99;
    outline: none;
    transition: all .2s linear;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ed1b28;
    cursor: pointer;
    color:#fff
}

.swiper-next-button {
    right: -15px;
    padding-top: 2px
}

.swiper-prev-button {
    left: -5px;
    padding-bottom: 2px

}

.swiper-prev-button em {
    transform: rotate(180deg);
}

.authorAvatar{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.authorAvatar img{
    border-radius: 50%;
}

.authorName{
    margin: 0
}

.authorName a{
    color: #ccc;
    font-size: 13px;
    text-decoration: none;
}

.titleAndAuthor span, .titleAndAuthor span svg{
    font-size: 13px;
}

.no-results{
    margin: 0 auto;
    text-align: center;
    background-color: rgb(238 238 238 / 47%);
    border-bottom: 2px solid #f50057;
    padding: 0 75px;
}

.no-results h3{
    font-size: 19px;
    font-weight: 100;
}

.no-results p{
    font-weight: 300;
}


@keyframes slideUp{
    0%{ 
        bottom: -30px;
        opacity: 0;
    }
    100%{ 
        bottom: 0;
        opacity: 1;
    }
}

@keyframes slideDown{
    0%{ 
        bottom: 0;
        opacity: 1;
    }
    100%{ 
        bottom: -30px;
        opacity: 0;
    }
}

@keyframes sketchIn {
	0% {
		stroke-dashoffset: 778;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes sketchOut {
	0% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 778;
	}
}