.input-wrapper {
    margin: 0 auto;
    width: 35%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#realbox{
    background-color: var(--search-box-bg, white);
    border: none;
    color: var(--search-box-text);
    display: block;
    outline: none;
    padding-inline-end: 48px;
    width: 100%;
    z-index: 2;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius: 22px;
    box-sizing: border-box;
    font-size: 16px;
    height: 45px;
    opacity: 1;
    position: relative;
    transition: none;
    padding-inline-start: 20px;
}